
h1 {
    color: chocolate; text-decoration: underline;text-align: center;
}
.smr {
    background-color: rosybrown;
    
}
.dam {
    background-color: gray;
    

}
.asir {
    background-color: aqua;
}
footer {
    background-color: yellow; text-align: center;
}
.formu{
    background-color: darkgoldenrod;
}
.titulo{
    color: chocolate; text-align: center;text-decoration: underline; background-color: gold;
}